# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.streamlit

# Virtual Environment
venv/
env/
.env
.venv/

# Streamlit & Secrets (สำคัญมากสำหรับโปรเจกต์นี้)
.streamlit/config.toml
.streamlit/secrets.toml
credentials.json

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

modules/__pycache__
docs/superpowers/plans
*.md